<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Projects page
        </title>
    </head>
    <body>
        {{> header}}
        <p>This is my portfolio page.</p>
        <p>{{screamIt welcomeMsg}}</p>
        {{> footer}}
    </body>
</html>